/*estilos grles*/
body{
    background-color:burlywood ;
}


/*estilos del header*/
header{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(222,162,85);
}

header h1{
    text-align: center;
    text-transform: uppercase;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

header nav ul li:hover{
    transform: scale(1.1);
    background-color: burlywood;
    text-decoration:none;
}

/*estilos de card*/
.estilos-card{
    margin: 1rem;
    background-color: rgb(222,162,100);
}

/*estilos p*/
.estilos-p{
    font-size: 1.8rem;
}

.btn-estilos{
    background-color: burlywood;
    box-shadow: 2px 3px black;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.btn-estilos:hover{
    transform: scale(1.1);
}

